<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" />
	<package id="vscode" />>
	<package id="7zip" />>
	<package id="git" />>
	<package id="notepadplusplus" />
	<package id="firefox-dev" />
	<package id="pia" />
	<package id="vlc" />
	<package id="bitwarden" />
	<package id="wsl2" />
	<package id="nvm" />
	<package id="ripgrep" />
	<package id="curl" />
	<package id="wget" />
	<package id="gimp" />
	<package id="keepass" />
</packages>
